.reference{
	color: #3B5998;
}

/* CSS para lista de espera*/

.column { width: 33%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0;}
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; background: #D5E3EE url(/ClinicalSys/images/background-calendar.png) repeat-y 0% 0%;
	border-color: #D5E5F1;
	border-style: solid;
	border-width: 2px;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
#nao_chegou{
	background-image: url("/ClinicalSys/images/bg_naochegou.png");
	background-repeat: repeat-y;
	opacity:0.8;
	filter:alpha(opacity=80)
}
#desistencia{
	background-image: url("/ClinicalSys/images/bg_desistencia.png");
	background-repeat: repeat-y;
	opacity:0.8;
	filter:alpha(opacity=80)
}
#aguardando_atendimento{
	background-image: url("/ClinicalSys/images/bg_aguardando_atendimento.png");
	background-repeat: repeat-y;
	opacity:0.7;
	filter:alpha(opacity=70)
	
}

.leftcolumn {width: 35%;border: none;float: left}
.rightcolumn {width: 64%;height:155px; border: 1px solid #C5D9E8;float: right;background-color: #EEF4F9; border-radius: 5px 5px 5px 5px;}
.bottom_collumn{position: relative;width: 100%;border: 1px solid #C5D9E8;background-color: #EEF4F9; border-radius: 5px 5px 5px 5px;}
.dotted-class{border-bottom: 2px dotted #dadada;width: 80%;margin-left:20px;}
/*END CSS para lista de espera*/

.day-off{
	background-color: #E3909E;
}

.headerDiv{
	background: #D5E3EE url(/ClinicalSys/images/background-calendar.png) repeat-y 0% 0%;
	border-color: #D5E5F1;
	border-style: solid;
	border-width: 2px;
	margin: 10px 10px 4px;
	overflow: visible;
	position: relative;
	height: 140px;
	border-radius: 10px 10px 10px 10px;
	width: 30%; 
	float: left; 
	padding-bottom: 100px;
}

#divButtonClose{
	background: #EBEBEB;
	border: 1px solid #CCC;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	color: #4B4F5D;
	cursor: s-resize;
	font-weight: bold;
	padding: 3px 10px;
	opacity:0.70;
	-moz-opacity:0.70;
	filter:alpha(opacity=70);
	width: 3%;
	left: 50%;
	margin-right: 10px;
}
#divButton{
	background: #EBEBEB;
	border: 1px solid #CCC;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	color: #4B4F5D;
	cursor: n-resize;
	font-weight: bold;
	padding: 2px 10px;
	opacity:0.70;
	-moz-opacity:0.70;
	filter:alpha(opacity=70);
}

#openRodapeFixo{
	bottom: 0;
	position: fixed;
	left: 95%;
}

#headerFooter {
	-webkit-box-shadow: #444 0px 4px 5px;
	background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	border: solid #CCC;
	border-width: 1px 0px;
	color: black;
	width: 100%;
	opacity:0.90;
	-moz-opacity:0.90;
	filter:alpha(opacity=90);
}

#rodapeFixo {
	position: fixed;
	bottom: 0;
	background:  url(/ClinicalSys/images/footerpixel.png) repeat 50% 50%;
	height: 150px;
	width: 100%;
	opacity:0.90;
	-moz-opacity:0.90;
	filter:alpha(opacity=90);
	display: none;
	text-shadow: none;
}
#menuLateral{
	float: left;
	position: fixed;
	background:  url(/ClinicalSys/images/footerpixel.png) repeat 50% 50%;
	height: 100%;
	width: 213px;
	opacity:0.90;
	-moz-opacity:0.90;
	filter:alpha(opacity=90);
	text-shadow: none;
	margin-top: -20px;
	display:none;
}
#headerMenuLateral {
	-webkit-box-shadow: #444 0px 4px 5px;
	background: #F6F6F6 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EFEFEF));
	border: solid #CCC;
	border-width: 1px 0px;
	color: black;
	height: 100%;
	width: 35px;
	opacity:0.90;
	-moz-opacity:0.90;
	filter:alpha(opacity=90);
	margin-left: 178px;
}

#actionMenuLateral, #actionMenuLateral-open{
	margin: 200px 0px 10px;
	background: #353C42 url(http://localhost:8080/ClinicalSys/images/blue/bg_header.png);
	color: #fff;
	font-size: 26px;
	height: 40px;
	text-align: center;
}
#actionMenuLateral-open{
	margin: 183px 0px 10px;
	width: 35px;
	border-radius: 0px 10px 10px 0px;
	cursor: e-resize;
	position: fixed;
}
#actionMenuLateral{
	cursor: w-resize;
}
#actionMenuLateral:hover, #actionMenuLateral-open:hover{
	background-color:#1F92FF; 
	color:#1F92FF;
}

#menuLateral #shortcut {
	display: block;
	font-size: 11px;
	list-style: none;
	margin-left: 20%;
	margin-top: 0px;
}




.menu_config{
	text-align: left;
}
#ErrosSubmissao{
	color: #B81900;
}
.inputTable  {
	margin-bottom:40px;
	margin-left:0;
	margin-top:20px;
}

.noboardnew{
	border: none;
	background-color: transparent;
}
.noboard{
	border: none;
	background-color: transparent;
}

#tabelaResultados tr:nth-child(even) {
	background-color: #f5f7f8;
}
#tabelaResultados tr:nth-child(odd) {
	background-color: #EEEEEE;
}


.p_dialog{
	background:none repeat scroll 0 0 transparent;
	height:3.6666em;
	padding:3px 5px;
	color:#000000;
	cursor:pointer;
	border:1px solid #EAEAEA;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
.p_dialog_success:hover{
	background-color: #DFD;
	border-color:#BDD8BD; 
}
.p_dialog_sub_success{
	border-top: 1px solid #BDD8BD; 
	font-size: 90%;
}

.p_dialog_warning:hover{
	background-color: #FFFFCC;
	border-color:#E4E4B6; 
}
.p_dialog_sub_warning{
	border-top: 1px solid #E4E4B6; 
	font-size: 90%;
}

.p_dialog_error:hover{
	background-color: #FCC;
	border-color:#E3909E; 
}
.p_dialog_sub_error{
	border-top: 1px solid #E3909E; 
	font-size: 90%;
}

.stateError{
	background: #B81900 url(/ClinicalSys/images/requiredicon.png) repeat 50% 50%;
	border: solid #CD0A0A;
	padding: 0.3em;
}

.alert_error{
	border-color:#E3909E; 
	background-color: #E3909E;
}

.alinhamentoRelatorio{
	margin-right: 10px;
}

.ultimaalteracao{
	border-top: 1px solid #DADADA;
	color: #999;
}

fieldset{
	border: 1px solid #dadada;
	margin-bottom: 5px;
	padding: 6px;
}
legend{
	color: #000000;
	background-color: #F1F1F1;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: 1px solid #dadada;
}

.title-authorization {
	background-color: #4F555D;
	border-bottom: ;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	float: left;
	height: 40px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

#picture{
	border:medium none;
	height:140px;
	margin-left:-129px;
	margin-top:8px;
}
#imagem{
	border: 1px solid #CDCDCD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	margin-top: 0px;
	padding:3px;
	width: 110px;
	height:150px;
	vertical-align: middle;
}

#imagem_listagem{
	border: 1px solid #CDCDCD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	margin-top: 0px;
		padding:3px;
	width: 40px;
	height:40px;
	vertical-align: middle;
}
#imagem_topo{
	border: 1px solid #CDCDCD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	margin-top: 0px;
	width: 40px;
	height:37px;
	vertical-align: middle;
}


.detailBlock{
	
}
.tablefull{
	width: 100%;
}

.labelColumn {
	min-width: 80px;
	min-height: 19px;
	line-height: 19px;
}

.titulo{
	border-bottom: 1px solid #868570;
	color: #868570;
	letter-spacing: normal;
	font-size: 14px;
}

/* Tabs */


#tabPanelClear {
	background-color: white;
	float: right;
	position: relative;
	right: -4px;
	padding: 10px 0px 0px;
}
	
    #tabPanel {
    	position: relative;
    	left: -1px;
    	right: 1px;
    	top: -1px;
    	background-color: white;
    	float:left;
    	width: 100%;
      	font-size:93%;
      	line-height:normal;
      	background:#FFFFFF url("../resource/css/layout/lightblue/tab-bg.gif") repeat-x bottom;
      }
    #tabPanel ul {
      margin:0;
      padding:0px 0px 0;
      list-style:none;
      }
    #tabPanel li {
      float:left;
      background:url("../resource/css/layout/lightblue/tab-right-off.gif") no-repeat right top;
      margin:0;
      margin-right: 1px;
      padding:0px;
      }
    #tabPanel a {
      display:block;
      background:url("../resource/css/layout/lightblue/tab-left-off.gif") no-repeat left top;
      padding:5px 15px 4px;
      }
    #tabPanel #current {
      background-image:url("../resource/css/layout/lightblue/tab-right.gif");
      }
    #tabPanel #current a {
      background-image:url("../resource/css/layout/lightblue/tab-left.gif");
      padding-bottom:5px;
      }
    #tabPanel a:hover {
    	text-decoration: none;
    }
    #tabPanel a:ACTIVE {
    	text-decoration: none;
    }
/* Tabs end */

/* MUDAR PARA CADA TEMPLATE DE COR*/
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and /ClinicalSys/images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* Component containers
----------------------------------*/
.ui-widget { font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {  font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(/ClinicalSys/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #3d4650 url(/ClinicalSys/images/ui-bg_highlight-soft_75_3d4650_1x100.png) 50% 50% repeat-x; color: #e6e6e6; font-weight: bold; }
.ui-widget-header a { color: #e6e6e6; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(/ClinicalSys/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: #dadada url(/ClinicalSys/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(/ClinicalSys/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(/ClinicalSys/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(/ClinicalSys/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and /ClinicalSys/images */
.ui-icon { width: 16px; height: 16px; background-image: url(/ClinicalSys/images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_e6e6e6_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/ClinicalSys/images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/ClinicalSys/images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(/ClinicalSys/images/ui-bg_glow-ball_30_aaaaaa_600x600.png) 50% 35% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(/ClinicalSys/images/ui-bg_glow-ball_30_aaaaaa_600x600.png) 50% 35% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Dialog
----------------------------------*/
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Datepicker
----------------------------------*/
.ui-datepicker { width: 205px; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.0em; height: 1.0em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; font-size: 80% }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
.headerSpan{
	background-color: #FAFAFA;
	-webkit-box-shadow: #CCC 0px 1px 2px;
	border: 1px solid #CDCDCD;
	border-radius: 4px 4px 4px 4px;
}

.gridData tr:nth-child(even) {
	background-color: #f5f7f8;
}
.gridData tr:nth-child(odd) {
	background-color: #EEEEEE;
}
